
.nav-container {
    padding: 0 2rem;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-collapse {
    flex-grow: 0;
}

main {
    padding: 1rem;
}

.jumbotron {
    background: rgba(0,0,0,.1);
    padding: 2rem 1rem;
    border-radius: .25rem;
}
h1 {
    font-size: 4rem;
}

.card-list {
    
}